@import "tailwindcss";
@plugin "daisyui";

@plugin "daisyui/theme" {
  name: "light";
  default: true;
  --color-primary: #05668D;
  --color-secondary: #427AA1;
  --color-highlight: #A5BE00;
  --color-background: #EBF2FA;
  --color-success: #679436;
}


body {
  background-color: #EBF2FA;
}

a.active {
  @apply bg-secondary text-white rounded-full
}

a.hover, button.hover {
  @apply hover:bg-transparent hover:border-primary hover:text-primary
}

.heading {
  @apply text-3xl font-bold text-primary
}

/* #0000004d */


/* From Uiverse.io by alexruix */
.service-card {
 width: 190px;
 height: 254px;
 border-radius: 20px;
 background: #f5f5f5;
 position: relative;
 padding: 1.8rem;
 border: 2px solid #c3c6ce;
 transition: 0.5s ease-out;
 overflow: visible;
}

.card-details {
 color: black;
 height: 100%;
 gap: .5em;
 display: grid;
 place-content: center;
}

.card-button {
 transform: translate(-50%, 125%);
 width: 60%;
 border-radius: 1rem;
 border: none;
 background-color: #008bf8;
 color: #fff;
 font-size: 1rem;
 padding: .5rem 1rem;
 position: absolute;
 left: 50%;
 bottom: 0;
 opacity: 0;
 transition: 0.3s ease-out;
}

.text-body {
 color: rgb(134, 134, 134);
}

/*Text*/
.text-title {
  font-size: 1.5em;
  font-weight: bold;
}

/*Hover*/
.service-card:hover {
  border-color: #008bf8;
  box-shadow: 0 4px 18px 0 rgba(0, 0, 0, 0.25);
}

.service-card:hover .card-button {
  transform: translate(-50%, 50%);
  opacity: 1;
}

