@import "tailwindcss";
@plugin "daisyui";

@plugin "daisyui/theme" {
  name: "light";
  default: true;
  --color-primary: #05668D;
  --color-secondary: #427AA1;
  --color-highlight: #A5BE00;
  --color-background: #EBF2FA;
  --color-success: #679436;
}


body {
  background-color: #EBF2FA;
}

a.active {
  @apply bg-secondary text-white rounded-full
}

a.hover, button.hover {
  @apply hover:bg-transparent hover:border-primary hover:text-primary
}

.heading {
  @apply text-3xl font-bold text-primary
}

/* #0000004d */


/* From Uiverse.io by alexruix */
.service-card {
  background: #f5f5f5;
  position: relative;
  border: 2px solid #c3c6ce;
  transition: 0.5s ease-out;
  overflow: visible;
}



/*Hover*/
.service-card:hover {
  border-color: #008bf8;
  box-shadow: 0 4px 18px 0 rgba(0, 0, 0, 0.25);
}

.service-card:hover .card-button {
  transform: translateX(-50%);
  opacity: 1;
}